<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Goonbot Backend</h1>
        <h1 class="logo">Menu</h1>
          <ul class="menu">
            <li><a href="{{ url_for('stats') }}">Stats</a></li>
            <li><a href="{{ url_for('users') }}">Users</a></li>
            <li><a href="{{ url_for('graph') }}">Graph</a></li>
            <li><a href="{{ url_for('items') }}">Items</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
  </body>
</html>